
.Matrix {
    width: 100%;
    height: 100%;
    color: white;
    border: 3px solid black;
    border-collapse: separate;
}

.Matrix td {
    padding: 40px;
}

.Matrix_environment {
    text-transform: capitalize;
    color: white;
    width: 100px;
}

.Matrix_system {
    text-transform: capitalize;
    border: 3px solid black;
    border-collapse: collapse;
    background-color: black;
}

.Matrix_system_environment {
    vertical-align: top;
    text-transform: none;
    color: white;
    border: 1px solid gray;
    border-collapse: collapse;
    background-color: black;
    border-radius: 5px;
}

.Matrix_system_environment_headline {
    font-size: 1.2em;
    display: block;
}

.Matrix_system_environment_details {
    display: block;
    padding: 4px;
    margin: 10px 0;
}

.Matrix_system_environment_branchAndCommitish {
    font-size: 0.8em;
    display: block;
    text-transform: none;
}

.Matrix_InfoBlock {
    font-size: 0.8em;
    display: block;
    text-transform: none;
    color: gray;
}

.Matrix_system_environment_issue {
    display: inline-block;
    border: 1px solid gray;
    margin: 2px;
    border-radius: 5px;
    padding: 4px;
    margin-right: 4px;
}

.Matrix_system_environment_issue.MISSING {
    border: 1px solid lightgray;
    background-color: gray;
    color: white;
}

.Matrix_system_environment_issue.UNKNOWN {
    border: 1px solid lightgray;
    background-color: gray;
    color: white;
}

.Matrix_system_environment_issue.CLOSED {
    border: 1px solid lightgreen;
    background-color: green;
    color: white;
}

.Matrix_system_environment_issue.OPEN {
    border: 1px solid orange;
    background-color: darkorange;
    color: white;
}

.Matrix_system_environment_warning {
    color: gray;
}

.Matrix_StatusBadge {
    padding: 5px;
    font-size: 1em;
    display: inline-block;
    color: white;
    border-radius: 5px;
}

.Matrix_StatusBadge.OK {
    background-color: green;
    border: 1px solid darkgreen;
}

.Matrix_StatusBadge.UNCONFIGURED {
    background-color: #646464;
    border: 1px solid #4f4f4f;
    color: lightgray;
}

.Matrix_StatusBadge.FAILURE {
    background-color: red;
    border: 1px solid darkred;
}
