.IssuesMatrix {
    width: 100%;
    height: 100%;
    border: 0;
    border-collapse: separate;
    margin: 0;
    padding: 0;
}

.IssuesMatrix_cellFill {
    border-radius: 5px;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.IssuesMatrix_topLine .IssuesMatrix_cell {
    text-align: center;
}

.IssuesMatrix_topLine {
    border: 0;
    width: 100px;
}

.IssuesMatrix_environment {
    border: 0;
    width: 100px;
}

.IssuesMatrix_system {
    border: 0;
    border-collapse: collapse;
}

.IssuesMatrix_issues {
    border: 0;
    border-collapse: collapse;
    padding: 20px;
}


.IssuesMatrix_issueStream_branch {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
